[submodule "FV3"]
	path = FV3
	url = https://github.com/NOAA-EMC/fv3atm
	branch = production/GEFS_v12
[submodule "FMS"]
	path = FMS
	url = https://github.com/NOAA-EMC/FMS
[submodule "GSDCHEM"]
	path = GSDCHEM
	url = https://github.com/NOAA-EMC/GSDCHEM
[submodule "NEMS"]
	path = NEMS
	url = https://github.com/NOAA-EMC/NEMS
	branch = develop
[submodule "WW3"]
	path = WW3
	url = https://github.com/NOAA-EMC/WW3
