[submodule "FV3"]
	path = FV3
	#url = https://github.com/NOAA-EMC/fv3atm
    url = https://github.com/XianwuXue-NOAA/fv3atm.git
	#branch = production/GEFS_v12
	branch = feature/ops_GEFS_v12_port2wcoss2
[submodule "FMS"]
	path = FMS
	url = https://github.com/NOAA-EMC/FMS
[submodule "GSDCHEM"]
	path = GSDCHEM
	#url = https://github.com/NOAA-EMC/GSDCHEM
	url = https://github.com/XianwuXue-NOAA/GSDCHEM.git
	branch = feature/port2wcoss2
[submodule "NEMS"]
	path = NEMS
	url = https://github.com/NOAA-EMC/NEMS
	branch = develop
[submodule "WW3"]
	path = WW3
	url = https://github.com/NOAA-EMC/WW3
