[submodule "NEMS"]
	path = NEMS
	url = gerrit:NEMS
[submodule "FV3"]
	path = FV3
	url = gerrit:FV3
[submodule "FMS"]
	path = FMS
	url = git://github.com/NOAA-EMC/FMS
[submodule "GSDCHEM"]
	path = GSDCHEM
	url = gerrit:GSDCHEM
[submodule "WW3"]
	path = WW3
	url = git://github.com/NOAA-EMC/WW3
